Repository 8848digital/erpnext, pull requests merged in 2025-02, with the labels that each got.

#1187 fix: total row condition
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Labels: needs-tests

#1206 fix: added conditions for project fields if projects modeule is insta…
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/utils.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/workstation/test_records.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/get_item_details.py
Labels: Accounts, Stock

#1182 fix: resolved While creating purchase invoice for asset item got this error No module named erpnext.assets.doctype.asset_category.asset_category
  erpnext/accounts/doctype/accounting_dimension/test_accounting_dimension.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: Stock

#1203 Commit 24jan 29jan
  erpnext/__init__.py
  erpnext/accounts/doctype/account/chart_of_accounts/verified/ch_240812_schulkontenrahmen_veb_de.json.json
  erpnext/accounts/doctype/accounting_dimension/accounting_dimension.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/journal_entry/test_journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
  erpnext/accounts/doctype/process_payment_reconciliation_log_allocations/process_payment_reconciliation_log_allocations.json
  erpnext/accounts/doctype/process_payment_reconciliation_log_allocations/process_payment_reconciliation_log_allocations.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice_list.js
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
  erpnext/buying/doctype/purchase_order/purchase_order_list.js
  erpnext/buying/doctype/supplier_quotation/supplier_quotation_list.js
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/tests/test_accounts_controller.py
  erpnext/erpnext_integrations/doctype/plaid_settings/plaid_connector.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/job_card/test_job_card.py
  erpnext/patches.txt
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/public/js/queries.js
  erpnext/public/js/utils.js
  erpnext/selling/doctype/quotation/quotation_list.js
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/sales_order_list.js
  erpnext/selling/page/point_of_sale/pos_controller.js
  erpnext/selling/page/point_of_sale/pos_item_cart.js
  erpnext/selling/page/point_of_sale/pos_past_order_list.js
  erpnext/stock/deprecated_serial_batch.py
  erpnext/stock/doctype/batch/batch.js
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/delivery_note/delivery_note_list.js
  erpnext/stock/doctype/landed_cost_taxes_and_charges/landed_cost_taxes_and_charges.json
  erpnext/stock/doctype/landed_cost_taxes_and_charges/landed_cost_taxes_and_charges.py
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/utils.py
  erpnext/utilities/bulk_transaction.py
Labels: Accounts, Stock

#1188 test: add test case si ignoring pricing rule
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/manufacturing/doctype/blanket_order/test_blanket_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: Test Case

#1224 fix: errors in test cases of purchase order causing due to project ap…
  erpnext/accounts/doctype/exchange_rate_revaluation/test_exchange_rate_revaluation.py
  erpnext/accounts/doctype/gl_closing/test_gl_closing.py
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
  erpnext/controllers/stock_controller.py
  erpnext/controllers/tests/test_subcontracting_controller.py
  erpnext/manufacturing/doctype/bom/bom.py
  erpnext/regional/united_states/test_united_states.py
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
Labels: Stock, Test Case

#1211 Test item stocks
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Labels: Test Case

#1241 Stock manufacturing testcase
  erpnext/manufacturing/doctype/manufacturing_settings/test_manufacturing_settings.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: Test Case

#1239 test:test_sales_order_with_product_bundle_TC_SCK_133
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: Test Case

#1214 TC: TC_SCK_224-TC_SCK_225-TC_SCK_226
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
Labels: Test Case

#1237 fix: tc 186
  erpnext/stock/doctype/material_request/test_material_request.py
Labels: Test Case

#1238 fix: TC 148
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: Test Case

#1285 Payment ledger
  erpnext/accounts/doctype/gl_entry/gl_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_reconciliation/payment_reconciliation.py
  erpnext/accounts/doctype/payment_reconciliation_record/payment_reconciliation_record.py
  erpnext/accounts/utils.py
Labels: Accounts, needs-tests

#1273 test: test case TC_B_141
  erpnext/buying/doctype/purchase_order/test_purchase_order.py
Labels: Test Case

#1135 Test cases for Accounts
  erpnext/accounts/doctype/payment_entry/test_payment_entry.py
  erpnext/accounts/doctype/period_closing_voucher/test_period_closing_voucher.py
  erpnext/accounts/doctype/process_deferred_accounting/test_process_deferred_accounting.py
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/test_tax_withholding_category.py
Labels: Test Case

#1227 TC: TC_SCK_134-TC_SCK_135-TC_SCK_146
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Labels: Test Case

#1387 Stock module dependency issue
  erpnext/manufacturing/doctype/work_order/work_order.py
Labels: needs-tests

#1407 fix: resolved erros in TC_SCK_141, TC_SCK_142, TC_SCK_140
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/doctype/warehouse/test_warehouse.py
  erpnext/stock/stock_ledger.py
Labels: Stock

#1410 fix: purchase order project dependancy issue solved
  erpnext/buying/doctype/purchase_order/purchase_order.py
Labels: needs-tests
