Repository 8848digital/erpnext, pull requests merged in 2025-06, with the labels that each got.

#2478 docs: Added no pragma to ignore the files on codecoverage
  erpnext/stock/doctype/delivery_note_item/delivery_note_item.py
  erpnext/stock/doctype/delivery_settings/delivery_settings.py
  erpnext/stock/doctype/delivery_stop/delivery_stop.py
  erpnext/stock/doctype/item_attribute_value/item_attribute_value.py
  erpnext/stock/doctype/item_barcode/item_barcode.py
  erpnext/stock/doctype/item_customer_detail/item_customer_detail.py
  erpnext/stock/doctype/item_default/item_default.py
  erpnext/stock/doctype/item_reorder/item_reorder.py
  erpnext/stock/doctype/item_supplier/item_supplier.py
  erpnext/stock/doctype/item_tax/item_tax.py
  erpnext/stock/doctype/item_variant_attribute/item_variant_attribute.py
  erpnext/stock/doctype/item_website_specification/item_website_specification.py
  erpnext/stock/doctype/landed_cost_item/landed_cost_item.py
  erpnext/stock/doctype/landed_cost_purchase_receipt/landed_cost_purchase_receipt.py
  erpnext/stock/doctype/landed_cost_taxes_and_charges/landed_cost_taxes_and_charges.py
  erpnext/stock/doctype/material_request_item/material_request_item.py
  erpnext/stock/doctype/packing_slip_item/packing_slip_item.py
  erpnext/stock/doctype/pick_list_item/pick_list_item.py
  erpnext/stock/doctype/price_list_country/price_list_country.py
  erpnext/stock/doctype/purchase_receipt_item/purchase_receipt_item.py
  erpnext/stock/doctype/quality_inspection_parameter/quality_inspection_parameter.py
  erpnext/stock/doctype/quality_inspection_reading/quality_inspection_reading.py
  erpnext/stock/doctype/serial_and_batch_entry/serial_and_batch_entry.py
  erpnext/stock/doctype/shipment_delivery_note/shipment_delivery_note.py
  erpnext/stock/doctype/shipment_parcel/shipment_parcel.py
  erpnext/stock/doctype/stock_entry_detail/stock_entry_detail.py
  erpnext/stock/doctype/stock_reconciliation_item/stock_reconciliation_item.py
  erpnext/stock/doctype/uom_conversion_detail/uom_conversion_detail.py
  erpnext/stock/doctype/variant_field/variant_field.py
Labels: needs-tests

#2510 test: Reset default payment term after test creating PO For Default Supplier execution in Sales Order
  erpnext/selling/doctype/sales_order/test_sales_order.py
Labels: Test Case

#2539 docs: Added no pragma to ignore the files on codecoverage
  erpnext/stock/doctype/customs_tariff_number/customs_tariff_number.py
  erpnext/stock/doctype/item_attribute/item_attribute.py
  erpnext/stock/doctype/item_quality_inspection_parameter/item_quality_inspection_parameter.py
  erpnext/stock/doctype/item_variant/item_variant.py
  erpnext/stock/doctype/item_website_specification/item_website_specification.py
  erpnext/stock/doctype/quality_inspection_parameter_group/quality_inspection_parameter_group.py
  erpnext/stock/doctype/shipment_parcel_template/shipment_parcel_template.py
  erpnext/stock/doctype/uom_category/uom_category.py
Labels: needs-tests

#2562 docs: Added no pragma to Item Variant Doctype to ignore the files on codecoverage
  erpnext/stock/doctype/item_variant/item_variant.py
Labels: needs-tests

#2511 chore(release): Bumped to Version 15.60.0
  erpnext/__init__.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/party.py
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/buying/doctype/supplier_quotation/test_supplier_quotation.py
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/stock_controller.py
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/party.js
  erpnext/public/scss/erpnext.scss
  erpnext/setup/doctype/employee/employee.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/stock/doctype/shipment/shipment.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/report/serial_no_warranty_expiry/serial_no_warranty_expiry.json
  erpnext/templates/includes/rfq.js
  erpnext/utilities/doctype/rename_tool/rename_tool.js
  erpnext/utilities/doctype/rename_tool/rename_tool.py
Labels: Accounts, Stock, Buying

#2583 Pre prod develop into pre-prod
  erpnext/__init__.py
  erpnext/accounts/doctype/bank_reconciliation_tool/bank_reconciliation_tool.py
  erpnext/accounts/doctype/journal_entry/journal_entry.py
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/pos_invoice_merge_log/pos_invoice_merge_log.py
  erpnext/accounts/doctype/pos_invoice_merge_log/test_pos_invoice_merge_log.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.json
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/party.py
  erpnext/buying/doctype/purchase_order/purchase_order.json
  erpnext/buying/doctype/purchase_order/purchase_order.py
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/buying/doctype/supplier_quotation/test_supplier_quotation.py
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
  erpnext/controllers/buying_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/stock_controller.py
  erpnext/manufacturing/doctype/job_card/job_card.py
  erpnext/manufacturing/doctype/production_plan/production_plan.js
  erpnext/manufacturing/doctype/production_plan/production_plan.py
  erpnext/public/js/controllers/buying.js
  erpnext/public/js/controllers/transaction.js
  erpnext/public/js/utils/party.js
  erpnext/public/scss/erpnext.scss
  erpnext/setup/doctype/employee/employee.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
  erpnext/stock/doctype/delivery_note/delivery_note.py
  erpnext/stock/doctype/item/item.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.json
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
  erpnext/stock/doctype/purchase_receipt/test_purchase_receipt.py
  erpnext/stock/doctype/quality_inspection/quality_inspection.py
  erpnext/stock/doctype/shipment/shipment.js
  erpnext/stock/doctype/stock_entry/stock_entry.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.js
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/report/serial_no_warranty_expiry/serial_no_warranty_expiry.json
  erpnext/stock/report/total_stock_summary/test_total_stock_summary.py
  erpnext/templates/includes/rfq.js
  erpnext/utilities/doctype/rename_tool/rename_tool.js
  erpnext/utilities/doctype/rename_tool/rename_tool.py
Labels: Accounts, Stock, Buying

#2635 fix: Corrected address state from "Test State" to "Maharashtra" in test data
  erpnext/tests/utils.py
Labels: needs-tests

#2700 test: Add pragma no-cover to type checking blocks for doctypes
  erpnext/accounts/doctype/customer_group_item/customer_group_item.py
  erpnext/accounts/doctype/customer_item/customer_item.py
  erpnext/accounts/doctype/discount_terms/discount_terms.py
  erpnext/accounts/doctype/discounted_invoice/discounted_invoice.py
  erpnext/accounts/doctype/distribution_percentage/distribution_percentage.py
  erpnext/accounts/doctype/dunning/dunning.py
  erpnext/accounts/doctype/dunning_letter_text/dunning_letter_text.py
  erpnext/accounts/doctype/dunning_type/dunning_type.py
Labels: needs-tests

#2638 chore(release): Bumped to Version 15.60.2
  erpnext/__init__.py
  erpnext/accounts/doctype/accounts_settings/accounts_settings.json
  erpnext/accounts/doctype/accounts_settings/accounts_settings.py
  erpnext/accounts/doctype/bank_clearance/test_bank_clearance.py
  erpnext/accounts/doctype/bank_transaction/test_bank_transaction.py
  erpnext/accounts/doctype/invoice_discounting/invoice_discounting.js
  erpnext/accounts/doctype/journal_entry/journal_entry.js
  erpnext/accounts/doctype/mode_of_payment/test_mode_of_payment.py
  erpnext/accounts/doctype/payment_entry/payment_entry.js
  erpnext/accounts/doctype/payment_entry/payment_entry.py
  erpnext/accounts/doctype/period_closing_voucher/period_closing_voucher.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/test_pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/accounts/doctype/sales_invoice/test_sales_invoice.py
  erpnext/accounts/party.py
  erpnext/accounts/report/accounts_receivable/accounts_receivable.py
  erpnext/accounts/report/general_ledger/general_ledger.py
  erpnext/accounts/test/test_reports.py
  erpnext/buying/report/supplier_quotation_comparison/supplier_quotation_comparison.py
  erpnext/controllers/accounts_controller.py
  erpnext/patches.txt
  erpnext/patches/v14_0/set_update_price_list_based_on.py
  erpnext/public/js/controllers/stock_controller.js
  erpnext/public/js/utils.js
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/selling/doctype/selling_settings/selling_settings.js
  erpnext/setup/setup_wizard/operations/defaults_setup.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
  erpnext/stock/doctype/batch/batch.py
  erpnext/stock/doctype/stock_entry/stock_entry.py
  erpnext/stock/doctype/stock_ledger_entry/test_stock_ledger_entry.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
  erpnext/stock/doctype/stock_settings/stock_settings.js
  erpnext/stock/doctype/stock_settings/stock_settings.json
  erpnext/stock/doctype/stock_settings/stock_settings.py
  erpnext/stock/get_item_details.py
  erpnext/stock/serial_batch_bundle.py
  erpnext/stock/stock_ledger.py
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.js
Labels: Accounts, Stock

#2720 Fix SQL syntax error for empty bundles in serial number query
  erpnext/stock/doctype/serial_no/serial_no.py
Labels: needs-tests
