Repository 8848digital/erpnext, pull requests merged in 2025-05, with the labels that each got.

#2311 test: added test cases to increase code coverage percentage
  erpnext/selling/doctype/sms_center/sms_center.py
  erpnext/selling/doctype/sms_center/tes_sms_center.py
Labels: needs-tests

#2319 fix:ple
  erpnext/accounts/general_ledger.py
  erpnext/accounts/utils.py
Labels: Accounts, needs-tests

#2318 fix: issue 1953 'SalesInvoice' object has no attribute 'get_finished_…
  erpnext/controllers/selling_controller.py
Labels: Selling, needs-tests

#2338 fix: Selling controller code changes and issue fix on Bin doctype
  erpnext/controllers/selling_controller.py
  erpnext/stock/doctype/delivery_note/test_delivery_note.py
Labels: Selling

#2354 fix: fix issue no 2353
  erpnext/accounts/report/non_billed_report.py
Labels: needs-tests

#2362 Fix: Test case issue resolver id #2324
  erpnext/accounts/doctype/purchase_invoice/test_purchase_invoice.py
  erpnext/stock/doctype/material_request/test_material_request.py
Labels: Test Case

#2374 fix: fixed permission issue in Pricing Rule Doctype test case
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
Labels: Test Case

#2381 feat: added dvevelop branch commit from 1 feb till 30march
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/pricing_rule/pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/pricing_rule/utils.py
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/controllers/accounts_controller.py
  erpnext/manufacturing/doctype/work_order/work_order.py
  erpnext/public/js/utils.js
  erpnext/setup/doctype/employee/employee.js
  erpnext/stock/doctype/pick_list/test_pick_list.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Labels: Accounts

#2391 Revert "fix: Hotfix the inconsistent indentation issue"
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
Labels: needs-tests

#2392 fix: Hotfix the inconsistent indentation issue
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
Labels: needs-tests

#2435 fix: ignoring type_checking condition to improve code coverage
  erpnext/maintenance/doctype/maintenance_schedule/maintenance_schedule.py
  erpnext/maintenance/doctype/maintenance_schedule_detail/maintenance_schedule_detail.py
  erpnext/maintenance/doctype/maintenance_schedule_item/maintenance_schedule_item.py
  erpnext/maintenance/doctype/maintenance_visit/maintenance_visit.py
  erpnext/maintenance/doctype/maintenance_visit_purpose/maintenance_visit_purpose.py
Labels: needs-tests
